#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}
.ant-layout-header {
  padding: 0 1em !important;
  padding-left: 35px !important;
  background: rgb(220, 241, 244);
  background: linear-gradient(
    90deg,
    rgba(220, 241, 244, 1) 0%,
    rgba(23, 162, 184, 1) 100%
  );
  z-index: 99 !important;
}
.ant-layout-footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 99 !important;
}
.ant-layout-content {
  /* padding: 64px 0; */
  min-height: calc(100vh - 126px);
  /* min-height: 100vh; */
}
.ant-layout-sider-zero-width-trigger {
  top: 2px !important;
  z-index: 999 !important;
  position: fixed !important;
  right: unset !important;
  font-size: 35px !important;
  color: #137d8d !important;
  background: rgb(220, 241, 244) !important;
  font-weight: 900;
}
.default-layout {
  padding-bottom: 4em;
}
/* over button */
.ant-btn-primary {
  color: #fff !important;
  background-color: #17a2b8 !important;
  border-color: #17a2b8 !important;
}
.ant-btn-danger {
  background-color: #e67e22 !important;
  border-color: #e67e22 !important;
}
.ant-btn-primary:hover {
  background-color: #137d8d !important;
  border-color: #137d8d !important;
}
.ant-btn-danger:hover {
  background-color: #b96d2a !important;
  border-color: #b96d2a !important;
}
/* .ant-layout-sider {
  background: rgb(220, 241, 244) !important;
  background: linear-gradient(
    90deg,
    rgba(220, 241, 244, 1) 0%,
    rgba(23, 162, 184, 1) 100%
  ) !important;
} */
.site-layout-background {
  background: #fff;
}
/* .noti-success {
  background-color: #52c41a;
  color: white !important;
}

.noti-error {
  background-color: #b96d2a;
  color: white;
}

.noti-warning {
  background-color: #dd9f68;
  color: white;
}

.noti-info {
} */
