#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}
.ant-layout-header {
  padding: 0 1em !important;
}
.ant-layout-footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
.ant-layout-content {
  /* padding: 64px 0; */
  /* min-height: calc(100vh - 128px) !important; */
  min-height: 100vh;
}
